* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  font-family: sans-serif; /* You can change the font family to whatever you prefer */
}
